Demonstrate competency in C#, JavaScript, and ASP.NET.

Create a simple website that:

1.) A WinForm must have atleast two divs (one for the entire file contents, one for a single field), a client side button that executes a JavaScript function.

2.) Reads the Assessment.csv file server side and saves the entire files contents into the top div on page.

3.) Button click that executes a client side function that parses the text and places the 3rd component into the second bottom div.
